/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
 background-image: url("images/holi.jpg");

}




.gallery_container #gallery{
	 display: inline-block; 
    margin:50px;
    text-align: center;


}





#gallery {
	width: 200px;
	height: 400px;
	background-color: #000;
	color: #fff;

}



.gallery_container #qa{
	 display: inline-block; 
    margin:50px;
    text-align: center;


}

	table, th, td {
    border: 1px solid black;
}


/*form {
    display: block;
    margin-top: 0em;
*/}

h1, h2 {
	color: red;
}

.title{
		color:#ffffff;
}

.title2{
		color:#ffffff;
}

.title3{
		color:#ffffff;
    background-color:yellow;
    width:100px;
    position:relative;
    right:-50%;
}